
.col-md-6{
    width: 60%;
}
.selec-docu{
    width: 19vb;
    width: 11vh;
    border-radius: 15px 0px 0px 15px;
       

}
.Documentos{
    display: inline-flex;
       
}

.col-md-6.img-fondo {
    background-image: url(../img/fondo-img.jpg);
    background-size: cover;
    background-position: center center;
    width: 40%;
    height: 100vh;

  }


.ancho-input{
    width: 100%;
    border-radius: 0px 8px 8px 0px;
}
.ancho2-input{
  width: 100%;
  border-radius: 8px;
}
.form-label{
  border-radius: 15px;
}
.form-padre > div{
    width: 40%;
}
.form-padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-label{
    display: inline-block;
    transform: translate(10px, 18.5px);
    font-size: 1.5vh;
    padding: 0 5px;
    background: #fff;
}
.form-padre .my-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.8vh;
  }
   .form-padre .d-grid {
    width: 50%;
    margin-top: 1rem;
  }
  
  .form-padre .d-grid input {
    width: 100%;
  }
  /*Mis cambis Ale*/
  .linea1{
    text-decoration: none;
    color: #FF7800;
  }
  .linea1:hover{
    text-decoration: underline;
    color: #ff8c27fa;
  }

  .fw-bold h3{
    font-family: "Flexo-Regular";
  }
.botoncontinuar{
  background-color: #FF7800;
  border-color: #FF7800;
  border-radius: 20px;
  color:white;
  height: 40px;
  width: 450px;
  


}
.botoncontinuar:hover{
  background-color: #ff7700c4;

}

.opciones{
  padding-bottom: 10px;
}
  /*fin del cambio*/

@media (max-width: 764px){
    .container-fluid .row {
        flex-direction: column;
      }
      .col-md-6,
      .col-md-6.img-fondo {
        width: 100%;
      }

      .img-fondo{
        display: none;
      }
    
      .col-md-6.img-fondo {
        height: 200px;
      }
    
      .Documentos {
        flex-direction: column;
        margin-bottom: 2rem;
      }
    
      .selec-docu {
        width: 100%;
        margin-bottom: 1rem;
      }
    
      .form-padre > div {
        width: 100%;
      }
    
      .form-label {
          transform: translate(1vh,2vh); 
          font-size: 1.8vh; 
          margin-bottom: 5px; 
      }
}

input[type=radio]#Green {
  accent-color: rgb(230, 126, 34);
}