.container-fluid{
    width: 100%;
}

.col-md-6{
    width: 60%;
}
.selec-docu{
    width: 25%;
}
.Documentos{
    display: inline-flex;
}
.img-fondo{
    background-image:url(../img/fondo-img.jpg);
    background-size:cover;
    background-position: center center;
    width: 40%;

}


.ancho-input{
    width: 100%;
}
.form-padre > div{
    width: 40%;
}
.form-padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-label{
    display: inline-block;
    transform: translate(10px, 18.5px);
    font-size: 15px;
    padding: 0 5px;
    background: #fff;
}

@media (max-width: 764px){
    .container-fluid{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .img-fondo{
        display: none;
    }
    div.row.m-altura{
        width: 100%;
        margin: 0;
    }


}

